---
title: "Convert data frames to tribbles with as_tribble"
author: "hrbrmstr"
date: 2017-03-05
categories: ["R"]
slug: "A short post with a a function you can use to convert data frames to tribble code."
tags: ["tidyverse", "tribble", "tibble", "data wrangling"]
---

<!-- BLOGDOWN-HEAD -->
<!-- /BLOGDOWN-HEAD -->

<!-- BLOGDOWN-BODY-BEFORE -->
<!-- /BLOGDOWN-BODY-BEFORE -->
<p>Just giving <a href="https://github.com/rstudio/blogdown"><code>blogdown</code></a> a try along with <a href="https://caddyserver.com/">Caddy</a>.</p>
<p>The <code>as_tribble()</code> function (below) was created in response to this tweet by Michael Sumner:</p>
<!--more-->
<blockquote class="twitter-tweet" data-lang="en">
<p lang="en" dir="ltr">
<a href="https://twitter.com/hashtag/rstats?src=hash">#rstats</a> how to “dput” a tibble as tribble code?
</p>
— Michael Sumner (<span class="citation">@mdsumner</span>) <a href="https://twitter.com/mdsumner/status/837975787298938881">March 4, 2017</a>
</blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<pre class="r"><code>library(tidyverse)

as_tribble &lt;- function(x) {
  
  out &lt;- capture.output(write.csv(x, quote=TRUE, row.names=FALSE))
  out[1] &lt;- gsub(&#39;&quot;&#39;, &#39;`&#39;, out[1])
  out[1] &lt;- sub(&#39;^`&#39;, &quot;  ~`&quot;, out[1])
  out[1] &lt;- gsub(&#39;,`&#39;, &quot; , ~`&quot;, out[1])
  out &lt;- paste0(out, collapse=&quot;,\n  &quot;)
  cat(sprintf(&quot;tribble(\n%s\n)&quot;, out, &quot;)\n&quot;))

}</code></pre>
<p>It’s pretty straightforward to use:</p>
<pre class="r"><code>as_tribble(head(mtcars))</code></pre>
<pre><code>## tribble(
##   ~`mpg` , ~`cyl` , ~`disp` , ~`hp` , ~`drat` , ~`wt` , ~`qsec` , ~`vs` , ~`am` , ~`gear` , ~`carb`,
##   21,6,160,110,3.9,2.62,16.46,0,1,4,4,
##   21,6,160,110,3.9,2.875,17.02,0,1,4,4,
##   22.8,4,108,93,3.85,2.32,18.61,1,1,4,1,
##   21.4,6,258,110,3.08,3.215,19.44,1,0,3,1,
##   18.7,8,360,175,3.15,3.44,17.02,0,0,3,2,
##   18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
## )</code></pre>
