    <head>
        {{ partial "meta.html" . }}
        <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
        <link rel="canonical" href="{{ .Site.BaseURL }}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .RSSLink }}">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/main.css"/>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300|Montserrat:700" rel="stylesheet" type="text/css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

{{ if and (not .Params.disable_highlight) (in (string .Content) "</pre>") }}
{{ $highTheme := .Site.Params.highlightjsTheme }}
{{ with .Site.Params.highlightjsVersion }}
<link href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ . }}/styles/{{ $highTheme }}.min.css' rel='stylesheet' type='text/css'>
{{ end }}
{{ end }}

    </head>
